extends ../layouts/default

block content
	// Slider start
	section#slider_part
		#carousel-example-generic.carousel.slide(data-ride='carousel')
			// Indicators
			ol.carousel-indicators.text-center
				li.active(data-target='#carousel-example-generic', data-slide-to='0')
				li(data-target='#carousel-example-generic', data-slide-to='1')
				li(data-target='#carousel-example-generic', data-slide-to='2')
			.carousel-inner
				.item.active
					.overlay-slide
						img.img-responsive(src='images/banner/slide1.jpg', alt='')
					.carousel-caption
						.col-md-12.col-xs-12.text-center
							h2 ReFactory
							h3.animated2
								b A place
								|  where your
							.line
							p.animated3 ideas come true
				.item
					.overlay-slide
						img.img-responsive(src='images/banner/slide3.jpeg', alt='')
					.carousel-caption
						.col-md-12.col-xs-12.text-center
							h2 ReFactory
							h3.animated3
								| Professionals 
								b changing
							.line
							p.animated2 the world together
				.item
					.overlay-slide
						img.img-responsive(src='images/banner/slide2.jpg', alt='')
					.carousel-caption
						.col-md-12.col-xs-12.text-center
							h2 ReFactory
							h3.animated3
								| Rapid application 
								b development
							.line
							p.animated2 Fast and Precise
			// End Carousel Inner
		// Controls
		.slides-control
			a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
				span
					i.fa.fa-angle-left
			a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
				span
					i.fa.fa-angle-right
	// Slider end
	// Service Area start
	section#service
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.feature_header.text-center
						h3.feature_title
							| Our 
							b Services
						h4.feature_sub
							| What we do
							br
							| Imagine you need one of the following sevices... Wait! You need it!
						.divider
				// Col-md-12 End
				.row
					.main_feature.text-center
						.col-md-3.col-xs-12.col-sm-6
							.feature_content
								i.fa.fa-laptop
								h5 Application Development
								p
									| You can not ignore mobile devices anymore and with this theme all your visitors will be very pleased how they see your website.
								button.btn.btn-main  Read More
						.col-md-3.col-xs-12.col-sm-6
							.feature_content
								i.fa.fa-mobile
								h5 Mobile Development
								p
									| Full Time support. Very much helpful and possesive at the same time. With all this in mind you won’t be outdated anytime soon. Really!!
								button.btn.btn-main  Read More
						// Col-md-4 Single_feature End
						.col-md-3.col-xs-12.col-sm-6
							.feature_content
								i.fa.fa-desktop
								h5 IT Consulting
								p
									| This theme integrates with WordPress in the most awesome way! Functionality is separated from style through uncreadble useful for user.
								button.btn.btn-main  Read More
						// Col-md-4 Single_feature End
						.col-md-3.col-xs-12.col-sm-6
							.feature_content
								i.fa.fa-list-alt
								h5 Technical Support
								p
									| Shadow is as optimized as it gets. No useless wrappers, no double headings, everything is coded with SEO in mind. Content is KING!
								button.btn.btn-main  Read More
						// Col-md-4 Single_feature End
				// Row End
		// Container End
	// Service Area End
	// Portfolio works Start
	section#portfolio
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.feature_header.text-center
						h3.feature_title
							| Our 
							b Works
						h4.feature_sub Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						.divider
				// Col-md-12 End
		#isotope-filter.skew3.text-center
			a.active(data-filter='*', href='#') All
			a(data-filter='.identity', href='#') Identity
			a(data-filter='.web-design', href='#') Web Design
			a(data-filter='.graphic', href='#') Graphic
			a(data-filter='.logo', href='#') Photography
		.clearfix
		.text-center
			ul#portfolio_items.portfolio-wrap
				li.col-xs-12.col-sm-6.col-md-4.single-portfolio.identity.web-design
					figure
						img(src='images/portfolio/p1.jpg', alt='')
						figcaption
							h5 Creative Zoe
							p.links
								a(href='/portfolio/1')
									i.fa.fa-link
								a.img-responsive(href='images/portfolio/p1.jpg', data-rel='prettyPhoto')
									i.fa.fa-plus
							p.description
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li.col-xs-12.col-sm-6.col-md-4.single-portfolio.logo.graphic
					figure
						img(src='images/portfolio/p2.jpg', alt='')
						figcaption
							h5 Creative Zoe
							p.links
								a(href='/portfolio/1')
									i.fa.fa-link
								a.img-responsive(href='images/portfolio/p2.jpg', data-rel='prettyPhoto')
									i.fa.fa-plus
							p.description
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li.col-xs-12.col-sm-6.col-md-4.single-portfolio.graphic.logo
					figure
						img(src='images/portfolio/p3.jpg', alt='')
						figcaption
							h5 Creative Zoe
							p.links
								a(href='/portfolio/1')
									i.fa.fa-link
								a.img-responsive(href='images/portfolio/p3.jpg', data-rel='prettyPhoto')
									i.fa.fa-plus
							p.description
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li.col-xs-12.col-sm-6.col-md-4.single-portfolio.web-design.identity
					figure
						img(src='images/portfolio/p7.jpg', alt='')
						figcaption
							h5 Creative Zoe
							p.links
								a(href='/portfolio/1')
									i.fa.fa-link
								a.img-responsive(href='images/portfolio/p7.jpg', data-rel='prettyPhoto')
									i.fa.fa-plus
							p.description
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li.col-xs-12.col-sm-6.col-md-4.single-portfolio.logo.web-design
					figure
						img(src='images/portfolio/p5.jpg', alt='')
						figcaption
							h5 Creative Zoe
							p.links
								a(href='/portfolio/1')
									i.fa.fa-link
								a.img-responsive(href='images/portfolio/p5.jpg', data-rel='prettyPhoto')
									i.fa.fa-plus
							p.description
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li.col-xs-12.col-sm-6.col-md-4.single-portfolio.logo.graphic
					figure
						img(src='images/portfolio/p6.jpg', alt='')
						figcaption
							h5 Creative Zoe
							p.links
								a(href='/portfolio/1')
									i.fa.fa-link
								a.img-responsive(href='images/portfolio/p6.jpg', data-rel='prettyPhoto')
									i.fa.fa-plus
							p.description
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li.col-xs-12.col-sm-6.col-md-4.single-portfolio.graphic.identity
					figure
						img(src='images/portfolio/p3.jpg', alt='')
						figcaption
							h5 Creative Zoe
							p.links
								a(href='/portfolio/1')
									i.fa.fa-link
								a.img-responsive(href='images/portfolio/p3.jpg', data-rel='prettyPhoto')
									i.fa.fa-plus
							p.description
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li.col-xs-12.col-sm-6.col-md-4.single-portfolio.web-design.graphic
					figure
						img(src='images/portfolio/p7.jpg', alt='')
						figcaption
							h5 Creative Zoe
							p.links
								a(href='/portfolio/1')
									i.fa.fa-link
								a.img-responsive(href='images/portfolio/p7.jpg', data-rel='prettyPhoto')
									i.fa.fa-plus
							p.description
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		// Container Full End
	// Portfolio Section End
	.clearfix
	// About us start
	section#about
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.feature_header.text-center
						h3.feature_title
							| What 
							b We do
						h4.feature_sub Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						.divider
			.row
				.feature-tab
					.col-md-2.col-sm-3.col-xs-12
						ul.nav.nav-tabs.main-tab-list.text-center(role='tablist')
							li.active(role='presentation')
								a(href='#home', role='tab', data-toggle='tab')
									.single-tab
										.f-icon
											i.fa.fa-laptop
									h4 Web
							li(role='presentation')
								a(href='#profile', role='tab', data-toggle='tab')
									.single-tab
										.f-icon
											i.fa.fa-send
									h4 Email Marketing
							li(role='presentation')
								a(href='#messages', role='tab', data-toggle='tab')
									.single-tab
										.f-icon
											i.fa.fa-heart
									h4 Graphics
							li(role='presentation')
								a(href='#photo', role='tab', data-toggle='tab')
									.single-tab
										.f-icon
											i.fa.fa-camera
									h4 Photography
							li(role='presentation')
								a(href='#ios', role='tab', data-toggle='tab')
									.single-tab
										.f-icon
											i.fa.fa-send
									h4 ios application
					// col-md-12 end
					.col-md-10.col-sm-9.col-xs-12
						.tab-content.main-tab-content
							#home.tab-pane.active(role='tabpanel')
								.col-md-12.col-sm-9
									img.img-responsive(src='images/about/web1.png', alt='')
								.col-md-12.col-sm-9
									.c-tab
										h4 Web Design and Development
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus praesentium dolore sequi excepturi recusandae reprehenderit, distinctio.
										br
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolorum, quisquam eum eaque. Excepturi nisi necessitatibus, inventore explicabo corporis expedita fugit aspernatur harum reprehenderit temporibus, pariatur esse laborum qui quisquam.
										br
										a(href='#')  Learn More
							#profile.tab-pane(role='tabpanel')
								.col-md-12.col-sm-9
									img.img-responsive(src='images/about/browse.png', alt='')
								.col-md-12.col-sm-9
									.c-tab
										h4 Email and Socail Marketing
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus praesentium dolore sequi excepturi recusandae reprehenderit, distinctio.
										br
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolorum, quisquam eum eaque. Excepturi nisi necessitatibus, inventore explicabo corporis expedita fugit aspernatur harum reprehenderit temporibus, pariatur esse laborum qui quisquam.
										br
										a(href='#')  Learn More
							#messages.tab-pane(role='tabpanel')
								.col-md-12.col-sm-9
									img.img-responsive(src='images/about/web1.png', alt='')
								.col-md-12.col-sm-9
									.c-tab
									h4 Graphics Brand Identity
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus praesentium dolore sequi excepturi recusandae reprehenderit, distinctio.
									br
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolorum, quisquam eum eaque. Excepturi nisi necessitatibus, inventore explicabo corporis expedita fugit aspernatur harum reprehenderit temporibus, pariatur esse laborum qui quisquam.
									br
									a(href='#')  Learn More
							#photo.tab-pane(role='tabpanel')
								.col-md-12.col-sm-9
									img.img-responsive(src='images/about/graphics.png', alt='')
								.col-md-12.col-sm-9
									.c-tab
									h4 Photography Design
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus praesentium dolore sequi excepturi recusandae reprehenderit, distinctio.
									br
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolorum, quisquam eum eaque. Excepturi nisi necessitatibus, inventore explicabo corporis expedita fugit aspernatur harum reprehenderit temporibus, pariatur esse laborum qui quisquam.
									br
									a(href='#')  Learn More
							#ios.tab-pane(role='tabpanel')
								.col-md-12.col-sm-9
									img.img-responsive(src='images/about/web1.png', alt='')
								.col-md-12.col-sm-9
									.c-tab
									h4 ios application
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus praesentium dolore sequi excepturi recusandae reprehenderit, distinctio.
									br
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolorum, quisquam eum eaque. Excepturi nisi necessitatibus, inventore explicabo corporis expedita fugit aspernatur harum reprehenderit temporibus, pariatur esse laborum qui quisquam.
									br
									a(href='#')  Learn More
	// About us End
	// Counter Strat
	section#counter_area
		.facts
			.container
				.col-md-3.col-xs-12.col-sm-6.columns
					.facts-wrap
						.graph
							.graph-left-side
								.graph-left-container
									.graph-left-half
							.graph-right-side
								.graph-right-container
									.graph-right-half
							i.fa.fa-thumbs-o-up.fa-3x.fw
							.facts-wrap-num
								span.counter 31
						h6 Clients
				.col-md-3.col-xs-12.col-sm-6.columns
					.facts-wrap
						.graph
							.graph-left-side
								.graph-left-container
									.graph-left-half
							.graph-right-side
								.graph-right-container
									.graph-right-half
							i.fa.fa-gift.fa-3x.fw
							.facts-wrap-num
								span.counter 10
						h6 Support
				.col-md-3.col-xs-12.col-sm-6.columns
					.facts-wrap
						.graph
							.graph-left-side
								.graph-left-container
									.graph-left-half
							.graph-right-side
								.graph-right-container
									.graph-right-half
							i.fa.fa-check-square-o.fa-3x.fw
							.facts-wrap-num
								span.counter 17
						h6 Projects
				.col-md-3.col-xs-12.col-sm-6.columns
					.facts-wrap
						.graph
							.graph-left-side
								.graph-left-container
									.graph-left-half
							.graph-right-side
								.graph-right-container
									.graph-right-half
							i.fa.fa-envelope-o.fa-3x.fw
							.facts-wrap-num
								span.counter 22
						h6 Consulting
			// Conatainer End
		// Fact div ENd
	// Counter End
	// bLOG Start
	section#blog
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				.feature_header.text-center
					h3.feature_title
						a(href='/blog') 
							| Our 
							b Blog
					h4.feature_sub Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					.divider
			// Col-md-12 End
		.row
			.blog-timeline
				#owl-blog.owl-carousel.owl-theme
					.item
						.single_blog
							.post_img.text-center
								a(href='blog-single.html')
									img.img-responsive(src='images/blog/pic3.jpg', alt='')
								.post-date
									span 25
									|  6
							a(href='blog-single.html')
								h4 Lorem ipsum dolor sit amet
							ul.list-inline
								li
									i.fa.fa-pencil
									|  John Smith
								li
									i.fa.fa-comments
									|  12
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.
					.item
						.single_blog
							.post_img.text-center
								a(href='blog-single.html')
									img.img-responsive(src='images/blog/pic3.jpg', alt='')
								.post-date
									span 25
									|  6
							a(href='blog-single.html')
								h4 Lorem ipsum dolor sit amet
							ul.list-inline
								li
									i.fa.fa-pencil
									|  John Smith
								li
									i.fa.fa-comments
									|  12
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.
					.item
						.single_blog
							.post_img.text-center
								a(href='blog-single.html')
									img.img-responsive(src='images/blog/pic3.jpg', alt='')
								.post-date
									span 25
									|  6
							a(href='blog-single.html')
								h4 Lorem ipsum dolor sit amet
							ul.list-inline
								li
									i.fa.fa-pencil
									|  John Smith
								li
									i.fa.fa-comments
									|  12
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.
					.item
						.single_blog
							.post_img.text-center
								a(href='blog-single.html')
									img.img-responsive(src='images/blog/pic3.jpg', alt='')
								.post-date
									span 25
									|  6
							a(href='blog-single.html')
								h4 Lorem ipsum dolor sit amet
							ul.list-inline
								li
									i.fa.fa-pencil
									|  John Smith
								li
									i.fa.fa-comments
									|  12
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.
			// blog Timeline End
	// bLOG End
	section#contact
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.feature_header.text-center
						h3.feature_title
							| Keep In 
							b touch
						h4.feature_sub Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						.divider
			.row
				.contact_full
					.col-md-6.left
						.left_contact
							form(action='role')
								.form-level
									input#name.input-block(name='name', placeholder='Name', value='', type='text')
									span.form-icon.fa.fa-user
								.form-level
									input#mail.input-block(name='email', placeholder='Email', value='', type='email')
									span.form-icon.fa.fa-envelope-o
								.form-level
									input#phone.input-block(name='name', placeholder='Phone', value='', type='text')
									span.form-icon.fa.fa-phone
					.col-md-6.right
						.form-level
							textarea#messege.textarea-block(name='', rows='5', placeholder='message')
							span.form-icon.fa.fa-pencil
					.col-md-12.text-center
						button.btn.btn-main.featured Submit Now