include ../mixins/flash-messages

doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
	// <![endif]
	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'ReFactory - Place where your ideas come true'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		// Bootstrap
		link(rel='stylesheet', href='/styles/bootstrap.min.css')
		// FontAwesome
		link(rel='stylesheet', href='/styles/font-awesome.min.css')
		// Animation
		link(rel='stylesheet', href='/styles/animate.css')
		// Owl Carousel
		link(rel='stylesheet', href='/styles/owl.carousel.css')
		link(rel='stylesheet', href='/styles/owl.theme.css')
		// Pretty Photo
		link(rel='stylesheet', href='/styles/prettyPhoto.css')
		// Main color style
		link(rel='stylesheet', href='/styles/red.css')
		// Template styles
		link(rel='stylesheet', href='/styles/custom.css')
		// Responsive
		link(rel='stylesheet', href='/styles/responsive.css')
		link(rel='stylesheet', href='/styles/jquery.fancybox.css?v=2.1.5', type='text/css', media='screen')
		link(href='http://fonts.googleapis.com/css?family=Lato:400,300', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,500', rel='stylesheet', type='text/css')
		
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]
		block css
		
		block head

	body(data-spy='scroll', data-target='.navbar-fixed-top')
		header#section_header.navbar-fixed-top.main-nav(role='banner')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#')
						img(src='images/logo2.png', alt='')
				// Navbar header End
				nav#bs-example-navbar-collapse-1.collapse.navbar-collapse.navigation(role='navigation')
					ul.nav.navbar-nav.navbar-right
						li.active
							a.page-scroll(href='#slider_part') Home 
						li
							a.page-scroll(href='#service') Services
						li
							a.page-scroll(href='#portfolio') Portfolio
						li
							a.page-scroll(href='#about') About Us 
						li
							a.page-scroll(href='#team') Our Team 
						li
							a.page-scroll(href='#blog') Blog
						li
							a.page-scroll(href='#contact') Contact Us
			// /.container-fluid
		// Slider start
		section#slider_part
			#carousel-example-generic.carousel.slide(data-ride='carousel')
				// Indicators
				ol.carousel-indicators.text-center
					li.active(data-target='#carousel-example-generic', data-slide-to='0')
					li(data-target='#carousel-example-generic', data-slide-to='1')
					li(data-target='#carousel-example-generic', data-slide-to='2')
				.carousel-inner
					.item.active
						.overlay-slide
							img.img-responsive(src='images/banner/p5.jpg', alt='')
						.carousel-caption
							.col-md-12.col-xs-12.text-center
								h2 Cyprass
								h3.animated2
									b Creative
									|  Modern and clean
								.line
								p.animated3 Unique clean design
					.item
						.overlay-slide
							img.img-responsive(src='images/banner/p3.jpg', alt='')
						.carousel-caption
							.col-md-12.col-xs-12.text-center
								h2 Cyprass
								h3.animated3
									| responsive 
									b Flat 
									| design
							.line
							p.animated2 best choice for you
					.item
						.overlay-slide
							img.img-responsive(src='images/banner/p10.jpg', alt='')
						.carousel-caption
							.col-md-12.col-xs-12.text-center
								h2 Cyprass
								h3.animated3
									| We're crazy 
									b coders
							.line
							p.animated2  way to success
				// End Carousel Inner
			// Controls
			.slides-control
				a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
					span
						i.fa.fa-angle-left
				a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
					span
						i.fa.fa-angle-right
		// Slider end
		// Service Area start
		section#service
			.container
				.row
					.col-md-12.col-sm-12.col-xs-12
						.feature_header.text-center
							h3.feature_title
								| Our 
								b Services
							h4.feature_sub
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								br
								| Iusto provident non voluptatibus animi quidem incidunt eum, eligendi doloribus dicta.
							.divider
					// Col-md-12 End
					.row
						.main_feature.text-center
							.col-md-3.col-xs-12.col-sm-6
								.feature_content
									i.fa.fa-lightbulb-o
									h5 Lightweight
									p
										| You can not ignore mobile devices anymore and with this theme all your visitors will be very pleased how they see your website.
									button.btn.btn-main  Read More
							.col-md-3.col-xs-12.col-sm-6
								.feature_content
									i.fa.fa-pencil
									h5 Beautiful Typrography
									p
										| This theme integrates with WordPress in the most awesome way! Functionality is separated from style through uncreadble useful for user.
									button.btn.btn-main  Read More
							// Col-md-4 Single_feature End
							.col-md-3.col-xs-12.col-sm-6
								.feature_content
									i.fa.fa-cog
									h5 Full time Support
									p
										| Full Time support. Very much helpful and possesive at the same time. With all this in mind you won’t be outdated anytime soon. Really!!
									button.btn.btn-main  Read More
							// Col-md-4 Single_feature End
							.col-md-3.col-xs-12.col-sm-6
								.feature_content
									i.fa.fa-desktop
									h5 Ultra Responsive
									p
										| Shadow is as optimized as it gets. No useless wrappers, no double headings, everything is coded with SEO in mind. Content is KING!
									button.btn.btn-main  Read More
							// Col-md-4 Single_feature End
					// Row End
			// Container End
		// Service Area End
		// Portfolio works Start
		section#portfolio
			.container
				.row
					.col-md-12.col-sm-12.col-xs-12
						.feature_header.text-center
							h3.feature_title
								| Our 
								b Works
							h4.feature_sub Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							.divider
					// Col-md-12 End
			#isotope-filter.skew3.text-center
				a.active(data-filter='*', href='#') All
				a(data-filter='.identity', href='#') Identity
				a(data-filter='.web-design', href='#') Web Design
				a(data-filter='.graphic', href='#') Graphic
				a(data-filter='.logo', href='#') Photography
			.clearfix
			.text-center
				ul#portfolio_items.portfolio-wrap
					li.col-xs-12.col-sm-6.col-md-3.single-portfolio.identity.web-design
						figure
							img(src='images/portfolio/p1.jpg', alt='')
							figcaption
								h5 Creative Zoe
								p.links
									a(href='portfolio-single.html')
										i.fa.fa-link
									a.img-responsive(href='images/portfolio/p1.jpg', data-rel='prettyPhoto')
										i.fa.fa-plus
								p.description
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li.col-xs-12.col-sm-6.col-md-3.single-portfolio.logo.graphic
						figure
							img(src='images/portfolio/p2.jpg', alt='')
							figcaption
								h5 Creative Zoe
								p.links
									a(href='portfolio-single.html')
										i.fa.fa-link
									a.img-responsive(href='images/portfolio/p2.jpg', data-rel='prettyPhoto')
										i.fa.fa-plus
								p.description
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li.col-xs-12.col-sm-6.col-md-3.single-portfolio.graphic.logo
						figure
							img(src='images/portfolio/p3.jpg', alt='')
							figcaption
								h5 Creative Zoe
								p.links
									a(href='portfolio-single.html')
										i.fa.fa-link
									a.img-responsive(href='images/portfolio/p3.jpg', data-rel='prettyPhoto')
										i.fa.fa-plus
								p.description
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li.col-xs-12.col-sm-6.col-md-3.single-portfolio.web-design.identity
						figure
							img(src='images/portfolio/p7.jpg', alt='')
							figcaption
								h5 Creative Zoe
								p.links
									a(href='portfolio-single.html')
										i.fa.fa-link
									a.img-responsive(href='images/portfolio/p7.jpg', data-rel='prettyPhoto')
										i.fa.fa-plus
								p.description
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li.col-xs-12.col-sm-6.col-md-3.single-portfolio.logo.web-design
						figure
							img(src='images/portfolio/p5.jpg', alt='')
							figcaption
								h5 Creative Zoe
								p.links
									a(href='portfolio-single.html')
										i.fa.fa-link
									a.img-responsive(href='images/portfolio/p5.jpg', data-rel='prettyPhoto')
										i.fa.fa-plus
								p.description
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li.col-xs-12.col-sm-6.col-md-3.single-portfolio.logo.graphic
						figure
							img(src='images/portfolio/p6.jpg', alt='')
							figcaption
								h5 Creative Zoe
								p.links
									a(href='portfolio-single.html')
										i.fa.fa-link
									a.img-responsive(href='images/portfolio/p6.jpg', data-rel='prettyPhoto')
										i.fa.fa-plus
								p.description
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li.col-xs-12.col-sm-6.col-md-3.single-portfolio.graphic.identity
						figure
							img(src='images/portfolio/p3.jpg', alt='')
							figcaption
								h5 Creative Zoe
								p.links
									a(href='portfolio-single.html')
										i.fa.fa-link
									a.img-responsive(href='images/portfolio/p3.jpg', data-rel='prettyPhoto')
										i.fa.fa-plus
								p.description
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li.col-xs-12.col-sm-6.col-md-3.single-portfolio.web-design.graphic
						figure
							img(src='images/portfolio/p7.jpg', alt='')
							figcaption
								h5 Creative Zoe
								p.links
									a(href='portfolio-single.html')
										i.fa.fa-link
									a.img-responsive(href='images/portfolio/p7.jpg', data-rel='prettyPhoto')
										i.fa.fa-plus
								p.description
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			// Container Full End
		// Portfolio Section End
		.clearfix
	//- JAVASCRIPT

	script(type='text/javascript', src='js/jquery.js')
	// Bootstrap jQuery
	script(src='js/bootstrap.min.js')
	// Owl Carousel
	script(src='js/owl.carousel.min.js')
	// Isotope
	script(src='js/jquery.isotope.js')
	// Pretty Photo
	script(type='text/javascript', src='js/jquery.prettyPhoto.js')
	// SmoothScroll
	script(type='text/javascript', src='js/smooth-scroll.js')
	// Image Fancybox
	script(type='text/javascript', src='js/jquery.fancybox.pack.js?v=2.1.5')
	// Counter
	script(type='text/javascript', src='js/jquery.counterup.min.js')
	// waypoints
	script(type='text/javascript', src='js/waypoints.min.js')
	// Bx slider
	script(type='text/javascript', src='js/jquery.bxslider.min.js')
	// Scroll to top
	script(type='text/javascript', src='js/jquery.scrollTo.js')
	// Easing js
	script(type='text/javascript', src='js/jquery.easing.1.3.js')
	// PrettyPhoto
	script(src='js/jquery.singlePageNav.js')
	// Wow Animation
	script(type='js/javascript', src='js/wow.min.js')
	// Custom js
	script(src='js/custom.js')

	//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
	//- which generate links to edit content for users who can access Keystone
	if user && user.canAccessKeystone
		script(src='/keystone/js/content/editor.js')

	//- Add scripts that are globally required by your site here.

	//- Include template-specific javascript files by extending the js block
	block js
